._fd_dev_{
  position: absolute;
}
.tool-list{
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  width: 300px;
  text-align: center;
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  left: 36%;
  margin:0;
  margin-left: -100px;
  dd,dl{
    margin: 0px;
  }
  .loadImg{
    position: relative;
  }
  .imgfile{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    display: none;
  }
  .options-group{
    display: none;
  }
  .options-set{
    cursor: pointer;
    &:hover{
      .options-group{
        display: block;
      }
    }
  }
}
#visualImg{
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  // z-index: -1;
}
._color-panel-fd{
  position: fixed;
  right: 0px;
  top: 100px;
  width: 156px;
  font-size: 14px;
  ul{
    background: rgba(255,153,0,1);
    opacity: 0.7;
    list-style: none;
    text-align: right;
    white-space: nowrap;
    padding:10px 3px 10px 10px;
    margin:0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  li{
    margin-bottom: 5px;
  }
  .colorShow{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
  .color-tip{
    float: left;
    text-align: left;
    font-size: 12px;
    color: #FF0033;
  }
  .closeColorPn{
    position: absolute;
    left: -10px;
    top: -10px;
    background: #FF0033;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    transform: rotate(44deg);
    cursor: pointer;
  }
}
.guide-line{
  i{
    position: absolute;
    display: block;
    z-index: 1;
  }
  .ver-guide-line{
    height: 100%;
    top: 0px;
    border-left: 1px solid #ccc;
  }
  .hor-guide-line{
    width: 100%;
    left: 0px;
    border-top: 1px solid #ccc;
  }
  .guide-txt{
    position: absolute;
    z-index: 1;
  }
  .line-label{
    em{
      display: inline-block;
      position: absolute;
      background: #0df388;
      z-index: 1;
    }
    strong{
      position: absolute;
      z-index: 1;
      font-weight: 300;
      font-size: 14px;
      color: #7b7b7b;
    }
    .ver-label{
      width: 1px;
    }
    .hor-label{
      height: 1px;
    }
  }
  .guide-zoom{
    width: 50px;
    height: 50px;
  }
}
.guide-zoom{
  position: absolute;
}
.rc-circleMenus{
  width: 300px;
  height: 300px;
  cursor: pointer;
  .menus-group{
    transition: transform 0.5s ease;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .menu-item{
    transition: transform 0.5s ease 0.5s;
    text{
      text-anchor: middle;
      dominant-baseline: middle;
    }
  }
}
.triggle-btn-group{
  fill: #f29f3f;
  cursor: pointer;
  .triggle-btn-txt{
    text-anchor: middle;
    dominant-baseline: middle;
  }
}